<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chiwe| signup</title>
</head>
<body>
    <h2>Welcome to chiwe </h2>
    <form action="{%url 'signin'%}" id="signup" method="post"><br>
        {%csrf_token%}
        <label>Enter your username</label>
        <input type="text" name="username" id="username"placeholder="username" ><br>
        <label>Enter your first name</label>
        <input type="text" name="first_name" id="first_name"placeholder="first name" ><br>
        <lable>Enter your last name</lable>
        <input type="text" name="last_name"id="last_name" placeholder="last name" ><br>
        <label> Enter your email</label>
        <input type="email" name="email" id="mail"placeholder="email" ><br>
        <label>Enter your password</label>
        <input type="password" name="pass1" id="password" placeholder="password" ><br>
        
        <label>Confirm your password</label>
        <input type="password" id="password2"name="pass2" placeholder="Repeat your password " >
        <button type="submit">signup</button>
    </form>
</body>
</html>